<!DOCTYPE html>
<html lang="en">
    <title>File Editor</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>File Editor</h1>
            <h3>Please upload your Excel file</h3>
            <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
                <input type="file" accept=".xlsx, .csv" name="file">
                <button type="submit">Submit</button>
            </form>
            {% include [btn] ignore missing %}
        </div>
    </body>
</html>